# Builtin Data Types

## Tuples

In [1]:
('a', 2)

('a', 2)

In [2]:
'a', 2

('a', 2)

In [3]:
'a',

('a',)

In [4]:
t = 'a',
t

('a',)

## Tuples Unpacking

In [5]:
t = ('aaa', 'bbb')

In [6]:
t[0]

'aaa'

In [7]:
t[1]

'bbb'

In [8]:
a, b = t

In [9]:
a

'aaa'

In [10]:
b

'bbb'

## Exercise: Swapping Values

In [11]:
a = '1'
b = '2'
print(a)  # ==> 1
print(b)  # ==> 2
t = (b, a)
a, b = t
print(a)  # ==> 2
print(b)  # ==> 1

1
2
2
1

In [12]:
a = '1'
b = '2'
print(a)  # ==> 1
print(b)  # ==> 2
a, b = b, a
print(a)  # ==> 2
print(b)  # ==> 1

1
2
2
1

In [14]:
a = '1'
b = '2'
print(a)  # ==> 1
print(b)  # ==> 2
tmp = a
a = b
b = tmp
print(a)  # ==> 2
print(b)  # ==> 1

1
2
2
1

## Lists

In [17]:
l = ['a', 'b', 'c', 2, ['b', 'c']]
l

['a', 'b', 'c', 2, ['b', 'c']]

In [18]:
l[0]

'a'

In [20]:
l[-1]

['b', 'c']

In [21]:
l.append(4)
l

['a', 'b', 'c', 2, ['b', 'c'], 4]

## Iteration over Lists

In [22]:
for elem in l:
    print(elem)

a
b
c
2
['b', 'c']
4

## Exercise: Iteration over Lists of Tuples

Create a list of people, where each person is represented as a tuple of their personal and family name (aka first and last name).
- Iterate over the list and print every person (as a tuple -- no need for unpacking).
- Iterate over the list and print every person's *family* name, and then *personal* name (so it's a different order than in the tuples).

The people are: John Smith, Bob Wilson and Alice Smith.

In [24]:
people = [
    ('John', 'Smith'),
    ('Bob', 'Wilson'),
    ('Alice', 'Smith'),
]

In [26]:
for person in people:
    personal, family = person
    print(family)

Smith
Wilson
Smith

In [27]:
for personal, family in people:
    print(family)

Smith
Wilson
Smith

# Writing Functions

In [28]:
def add(a, b):
    return a + b

s = add(2, 3)
s

5

## Exercise

Write a function that returns both difference (`a-b`) and product (`a*b`) of its parameters. Call the function and display both sum and product in separate lines.

In [30]:
def compute(a, b):
    d = a - b
    p = a * b
    return d, p

both = compute(2, 3)
diff, product = compute(2, 3)
print(both)
print(diff)
print(product)

(-1, 6)
-1
6

In [31]:
p

NameError: name 'p' is not defined

## Named Arguments

In [32]:
compute(2, 3)

(-1, 6)

In [33]:
compute(3, 2)

(1, 6)

In [34]:
compute(a=2, b=3)

(-1, 6)

In [35]:
compute(2, b=3)

(-1, 6)

In [36]:
compute(b=3, a=2)

(-1, 6)

## Optional Arguments

In [37]:
def increment(arg=0):
    return arg + 1

In [38]:
increment(5)

6

In [39]:
increment()

1

In [40]:
arg

NameError: name 'arg' is not defined

In [41]:
increment(arg=5)

6

In [42]:
arg

NameError: name 'arg' is not defined

## Exercise

- Write a function that sums its arguments a, b and c.
- c argument should be optional

In [ ]:
my_sum(2, 3, 4)  # ==> 9
my_sum(2, 3)  # ==> 5