Note: we didn't spend a lot of time on this module due to lack of time. SQLAlchemy is a complicated and hard to learn library, so we didn't do any exercises and we didn't get into details how the code below works. The idea was that learners get an idea of what is possible with SQLAlchemy.

# Links

- [Documentation](http://docs.sqlalchemy.org/en/rel_1_1/)

# Imports & Verify Installation

In [2]:
import sqlalchemy
sqlalchemy.__version__

'1.1.11'

# Connecting

In [3]:
engine = sqlalchemy.create_engine('sqlite:///:memory:', echo=True)
# 'postgresql://scott:tiger@localhost/test'
# 'mysql://scott:tiger@hostname/dbname'

In [4]:
engine

Engine(sqlite:///:memory:)

# Defining and Creating Tables

In [4]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

In [5]:
Base = declarative_base()

In [6]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    fullname = Column(String(50))
    password = Column(String(50))
    
    def __repr__(self):
        return (
            "<User(name='{self.name}', fullname='{self.fullname}', "
            "password='{self.password}')>"
        ).format(self=self)

In [7]:
Base.metadata.create_all(engine)

2017-07-05 14:51:06,588 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-07-05 14:51:06,591 INFO sqlalchemy.engine.base.Engine ()
2017-07-05 14:51:06,593 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-07-05 14:51:06,595 INFO sqlalchemy.engine.base.Engine ()
2017-07-05 14:51:06,598 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-07-05 14:51:06,600 INFO sqlalchemy.engine.base.Engine ()
2017-07-05 14:51:06,604 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	password VARCHAR(50),
	PRIMARY KEY (id)
)


2017-07-05 14:51:06,605 INFO sqlalchemy.engine.base.Engine ()
2017-07-05 14:51:06,607 INFO sqlalchemy.engine.base.Engine COMMIT

# Creating New Records

In [8]:
user = User(name='ed', fullname='Ed Jones', 
            password='edspassword')

In [9]:
user

In [10]:
user.name

'ed'

In [12]:
print(user.id)

None

In [13]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [14]:
session.add(user)

In [15]:
the_user = session.query(User).filter_by(name='ed').first()

2017-07-05 14:54:14,395 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-05 14:54:14,401 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-05 14:54:14,404 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2017-07-05 14:54:14,410 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2017-07-05 14:54:14,413 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [16]:
the_user

In [17]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
    User(name='mary', fullname='Mary Contrary', password='xxg527'),
    User(name='fred', fullname='Fred Flinstone', password='blah')
])

In [18]:
session.commit()

2017-07-05 14:59:04,831 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-05 14:59:04,834 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2017-07-05 14:59:04,836 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-05 14:59:04,838 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2017-07-05 14:59:04,840 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-05 14:59:04,841 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2017-07-05 14:59:04,844 INFO sqlalchemy.engine.base.Engine COMMIT

# Querying

## Limiting

In [27]:
for obj in session.query(User).order_by(User.password)[1:3]:
    print(obj.name, ', ', obj.fullname, ', ', obj.password)

2017-07-05 15:02:38,549 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.password
 LIMIT ? OFFSET ?
2017-07-05 15:02:38,552 INFO sqlalchemy.engine.base.Engine (2, 1)
ed ,  Ed Jones ,  edspassword
wendy ,  Wendy Williams ,  foobar

## `.first()` and `.one()`

In [28]:
session.query(User).order_by(User.password).first()

2017-07-05 15:03:23,505 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.password
 LIMIT ? OFFSET ?
2017-07-05 15:03:23,511 INFO sqlalchemy.engine.base.Engine (1, 0)

In [29]:
session.query(User).filter_by(name='ed').first()

2017-07-05 15:04:03,887 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2017-07-05 15:04:03,894 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [34]:
from sqlalchemy.orm.exc import MultipleResultsFound, NoResultFound

try:
    user = session.query(User).one()
except MultipleResultsFound:
    print('more than one matching obj')
except NoResultFound:
    print('404 not found')
else:
    print('Found user: {}'.format(obj))

2017-07-05 15:06:53,268 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2017-07-05 15:06:53,272 INFO sqlalchemy.engine.base.Engine ()
more than one matching obj

## `filter_by` and `filter`

In [37]:
session.query(User).filter_by(fullname='Ed Jones').all()

2017-07-05 15:07:47,547 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.fullname = ?
2017-07-05 15:07:47,549 INFO sqlalchemy.engine.base.Engine ('Ed Jones',)

In [38]:
session.query(User).filter(User.fullname=='Ed Jones').all()

2017-07-05 15:08:27,513 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.fullname = ?
2017-07-05 15:08:27,516 INFO sqlalchemy.engine.base.Engine ('Ed Jones',)

In [39]:
session.query(User).filter(User.id > 2).all()

2017-07-05 15:08:52,236 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id > ?
2017-07-05 15:08:52,238 INFO sqlalchemy.engine.base.Engine (2,)

[<User(name='mary', fullname='Mary Contrary', password='xxg527')>,
 <User(name='fred', fullname='Fred Flinstone', password='blah')>]

In [40]:
session.query(User).filter(User.name.ilike('%ed%')).all()

2017-07-05 15:09:18,888 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE lower(users.name) LIKE lower(?)
2017-07-05 15:09:18,893 INFO sqlalchemy.engine.base.Engine ('%ed%',)

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='fred', fullname='Fred Flinstone', password='blah')>]

In [41]:
session.query(User).filter(User.name.in_(['ed', 'mary'])).all()

2017-07-05 15:10:39,098 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2017-07-05 15:10:39,101 INFO sqlalchemy.engine.base.Engine ('ed', 'mary')

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='mary', fullname='Mary Contrary', password='xxg527')>]

In [42]:
session.query(User).filter(User.name != None).all()

2017-07-05 15:11:24,085 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IS NOT NULL
2017-07-05 15:11:24,091 INFO sqlalchemy.engine.base.Engine ()

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='wendy', fullname='Wendy Williams', password='foobar')>,
 <User(name='mary', fullname='Mary Contrary', password='xxg527')>,
 <User(name='fred', fullname='Fred Flinstone', password='blah')>]

In [46]:
session.query(User).filter(
    User.name=='ed', 
    User.id < 3,
).all()

2017-07-05 15:15:00,324 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? AND users.id < ?
2017-07-05 15:15:00,327 INFO sqlalchemy.engine.base.Engine ('ed', 3)

## More complex filters

In [44]:
from sqlalchemy import or_

In [45]:
session.query(User).filter(
    or_(
        User.name == 'ed',
        User.name == 'wendy',
    )
).all()

2017-07-05 15:12:58,635 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? OR users.name = ?
2017-07-05 15:12:58,637 INFO sqlalchemy.engine.base.Engine ('ed', 'wendy')

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='wendy', fullname='Wendy Williams', password='foobar')>]

In [48]:
session.query(User.id).filter(User.name.like('%ed')).all()

2017-07-05 15:16:08,913 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id
FROM users
WHERE users.name LIKE ?
2017-07-05 15:16:08,917 INFO sqlalchemy.engine.base.Engine ('%ed',)

[(1), (4)]

# Aggregation (counting)

In [49]:
session.query(User.id).filter(User.name.like('%ed')).count()

2017-07-05 15:16:43,443 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id
FROM users
WHERE users.name LIKE ?) AS anon_1
2017-07-05 15:16:43,447 INFO sqlalchemy.engine.base.Engine ('%ed',)

2

In [51]:
from sqlalchemy.sql import func
session.query(func.count(User.name), User.name) \
    .group_by(User.name).all()

2017-07-05 15:18:32,462 INFO sqlalchemy.engine.base.Engine SELECT count(users.name) AS count_1, users.name AS users_name
FROM users GROUP BY users.name
2017-07-05 15:18:32,467 INFO sqlalchemy.engine.base.Engine ()

[(1, 'ed'), (1, 'fred'), (1, 'mary'), (1, 'wendy')]

# Working with Apache Logs and SQLAlchemy

## Example Logs

In [52]:
%%writefile apache_access.csv
ip,datetime,method,url,protocol,response_code,content_length
64.242.88.20,07/Mar/2017:16:24:16 -0800,GET,/,HTTP/1.0,200,3395
64.242.88.20,07/Mar/2017:16:24:16 -0800,GET,/static/style.css,HTTP/1.0,200,3395
64.242.88.20,07/Mar/2017:16:24:16 -0800,GET,/static/logo.png,HTTP/1.0,200,293644
64.242.88.20,07/Mar/2017:16:24:30 -0800,GET,/login,HTTP/1.0,200,3395
64.242.88.20,07/Mar/2017:16:24:48 -0800,POST,/login?next=/dashboard/,HTTP/1.0,302,-
64.242.88.20,07/Mar/2017:16:24:49 -0800,GET,/dashboard,HTTP/1.0,200,2002
64.242.88.20,07/Mar/2017:16:24:59 -0800,GET,/search?q=documentation,HTTP/1.0,200,2002
64.242.88.20,07/Mar/2017:16:25:13 -0800,GET,/doc/main,HTTP/1.0,200,2345
64.242.88.20,07/Mar/2017:16:25:23 -0800,GET,/doc/deployment,HTTP/1.0,200,28734
64.242.88.20,07/Mar/2017:16:26:56 -0800,GET,/doc/authentication,HTTP/1.0,200,22345
65.123.12.28,07/Mar/2017:16:27:32 -0800,GET,/,HTTP/1.1,200,3399
64.242.88.20,07/Mar/2017:16:28:05 -0800,GET,/doc/faq,HTTP/1.0,200,58462
64.242.88.20,07/Mar/2017:16:24:16 -0800,GET,/invalid-url,HTTP/1.0,404,7218

Overwriting apache_access.csv

## Creating Tables

In [53]:
import csv
from datetime import datetime

import sqlalchemy
from sqlalchemy import Column, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base

In [54]:
engine = sqlalchemy.create_engine('sqlite:///:memory:')

Base = declarative_base()
Session = sessionmaker(bind=engine)
session = Session()

In [55]:
class LogRecord(Base):
    __tablename__ = 'logs'
    id = Column(Integer, primary_key=True)
    
    method = Column(String(20), nullable=False)
    protocol = Column(String(20), nullable=False)
    ip = Column(String(20), nullable=False)
    url = Column(String(255), nullable=False)
    datetime = Column(DateTime, nullable=False)
    response_code = Column(Integer, nullable=False)
    content_length = Column(Integer, nullable=True)
    
    def __repr__(self):
        return (
            "<LogRecord(ip='{self.ip}', datetime={self.datetime}, "
            "method='{self.method}', url='{self.url}', protocol='{self.protocol}', "
            "response_code={self.response_code}, "
            "content_length={self.content_length})>"
        ).format(self=self)

In [56]:
Base.metadata.create_all(engine)

## Loading Data into Database

In [57]:
DATETIME_FORMAT = "%d/%b/%Y:%H:%M:%S %z"

with open('apache_access.csv') as s:
    reader = csv.DictReader(s)
    for row in reader:
        row['datetime'] = datetime.strptime(row['datetime'], DATETIME_FORMAT).astimezone()
        row['response_code'] = int(row['response_code'])
        if row['content_length'] == '-':
            row['content_length'] = None
        else:
            row['content_length'] = int(row['content_length']) 
        record = LogRecord(**row)
        session.add(record)

In [58]:
session.commit()

## Querying

In [59]:
session.query(LogRecord).order_by(LogRecord.datetime).all()

[<LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:16, method='GET', url='/', protocol='HTTP/1.0', response_code=200, content_length=3395)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:16, method='GET', url='/static/style.css', protocol='HTTP/1.0', response_code=200, content_length=3395)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:16, method='GET', url='/static/logo.png', protocol='HTTP/1.0', response_code=200, content_length=293644)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:16, method='GET', url='/invalid-url', protocol='HTTP/1.0', response_code=404, content_length=7218)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:30, method='GET', url='/login', protocol='HTTP/1.0', response_code=200, content_length=3395)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:48, method='POST', url='/login?next=/dashboard/', protocol='HTTP/1.0', response_code=302, content_length=None)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:49, method='GET', url='/dashboard', protocol='HTTP/1.0', response_code=200, content_length=2002)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:24:59, method='GET', url='/search?q=documentation', protocol='HTTP/1.0', response_code=200, content_length=2002)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:25:13, method='GET', url='/doc/main', protocol='HTTP/1.0', response_code=200, content_length=2345)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:25:23, method='GET', url='/doc/deployment', protocol='HTTP/1.0', response_code=200, content_length=28734)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:26:56, method='GET', url='/doc/authentication', protocol='HTTP/1.0', response_code=200, content_length=22345)>,
 <LogRecord(ip='65.123.12.28', datetime=2017-03-08 01:27:32, method='GET', url='/', protocol='HTTP/1.1', response_code=200, content_length=3399)>,
 <LogRecord(ip='64.242.88.20', datetime=2017-03-08 01:28:05, method='GET', url='/doc/faq', protocol='HTTP/1.0', response_code=200, content_length=58462)>]

In [60]:
session.query(LogRecord).count()

13

In [61]:
session.query(LogRecord).filter(
    LogRecord.ip == '65.123.12.28').all()

In [63]:
session.query(LogRecord).filter(
    LogRecord.url == '/search?q=documentation').count()

1

In [64]:
session.query(LogRecord).filter(
    LogRecord.method == 'POST').all()

In [66]:
session.query(LogRecord).filter(
    LogRecord.url.contains('/doc/')).count()

4

In [67]:
session.query(LogRecord).filter(
    LogRecord.url.contains('/doc/'),
    LogRecord.datetime >= '2017-03-08 01:26:00',
    LogRecord.datetime <= '2017-03-08 01:27:00',
).all()

In [68]:
session.query(func.sum(LogRecord.content_length)).all()[0][0]

430336

In [69]:
session.query(func.count(LogRecord.ip), LogRecord.ip) \
    .group_by(LogRecord.ip).all()

[(12, '64.242.88.20'), (1, '65.123.12.28')]